<h1>学習タイマー</h1>

<% if Timer.total_duration > 0 %>
  <p>累計学習時間: <%= Timer.total_duration %> 時間</p>
  <p>スタンプ数: <%= Timer.stamps %></p>
<% else %>
  <p>まだ学習時間の記録がありません。</p>
<% end %>

<%= form_with model: @timer, url: timers_path, method: :post do %>
  <%= submit_tag "学習開始" %>
<% end %>