<h1>学習タイマーの結果</h1>

<% if @timer.end_time.present? %>
  <p>今回の学習時間: <%= @timer.duration %></p>
<% else %>
  <p>学習中です。終了するには、終了ボタンを押してください。</p>
<% end %>

<p>累計学習時間: <%= Timer.formatted_total_duration %></p>
<p>スタンプ数: <%= Timer.stamps %></p>

<% if @timer.end_time.nil? %>
  <%= button_to "タイマー終了", stop_timer_path(@timer), method: :patch %>
<% end %>