/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  border-collapse: collapse !important;
  margin-top: 20px !important;
}

td {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  border: 10px solid #08ef08 !important;
}

.congratulations {
  text-align: center;
  margin-top: 20px;
}

.congratulations p {
  font-size: 24px;
  font-weight: bold;
  color: #ff69b4; /* ピンク色 */
}

.congratulations img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
