/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 表示全体を中央揃え（上下） */
/* html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

table {
  border-collapse: collapse !important;
  margin-top: 20px !important;
}

td {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  border: 10px solid #07ec1e !important;
}

.congratulations {
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out, scaleUp 2s ease-in-out;
}

.congratulations p {
  font-size: 32px; /* フォントサイズを大きくしました */
  font-weight: bold;
  color: #FFA500; /* オレンジ色 */
  animation: fadeIn 2s ease-in-out, scaleUp 2s ease-in-out;
  text-shadow: 2px 2px 4px #000000; /* 文字に影を追加 */
}

.congratulations img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out, scaleUp 2s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scaleUp {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

.confetti {
  position: fixed;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #ff69b4; /* ピンク色 */
  opacity: 0.7;
  animation: fall 3s linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(100vh) rotate(360deg); }
}

.center-content {
  text-align: center;
}

.center-content h1,
.center-content p,
.center-content table {
  margin: 0 auto;
}

.center-content table {
  margin-top: 20px;
}

.center-content td {
  text-align: center;
}

/* timers/newの表記 */
.study-content {
  text-align: left;
  margin: 20px;
}

.start-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #3F95FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.start-button::before {
  content: "🌱学習開始🌱";
}

.start-button:hover::before {
  content: "🔥学習開始🔥";
}

.start-button:hover {
  background-color: #fc1010;
}

.start-button:active {
  background-color: #3659e5;
}

.start-form {
  margin-top: 20px;
}
